<div class="container mt-4">
    <div>
      <h2>Ajouter un Développeur :</h2>
    </div>
    <form [formGroup]="developerForm">
      <!-- ID Developer (hidden) -->
      <div hidden>
        <label>ID Developer</label>
        <input type="text" formControlName="idDeveloper" [(ngModel)]="currentDeveloper.idDeveloper" name="idDeveloper" class="form-control">
      </div>
  
      <!-- Name -->
      <div class="mb-3">
        <label>Nom</label>
        <input type="text" formControlName="name" [(ngModel)]="currentDeveloper.name" name="name" class="form-control">
        @if (developerForm.controls['name'].hasError('required') && developerForm.controls['name'].touched) {
          <span class="text-danger">Le nom est obligatoire</span>
        }
        @if (developerForm.controls['name'].hasError('minlength') && developerForm.controls['name'].touched) {
          <span class="text-danger">Le nom doit contenir au moins 2 caractères</span>
        }
      </div>
  
      <!-- Country -->
      <div class="mb-3">
        <label>Pays</label>
        <input type="text" formControlName="country" [(ngModel)]="currentDeveloper.country" name="country" class="form-control">
        @if (developerForm.controls['country'].hasError('required') && developerForm.controls['country'].touched) {
          <span class="text-danger">Le pays est obligatoire</span>
        }
      </div>
  
      <div class="mt-2">
        <button type="submit" (click)="ajouterDeveloper()" class="btn btn-primary">Ajouter</button>
      </div>
    </form>
  </div>
  