<div class="container">
  <div>
    <h2>Ajouter une Game :</h2>
  </div>
  <form [formGroup]="myForm">
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Game</label>
      <input type="text" formControlName="idGame" name="idGame" class="form-control">
    </div>
    @if (myForm.controls['idGame'].hasError('required') && myForm.controls['idGame'].touched) {
      <span class="text-danger">id Game est obligatoire</span>
    }

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Game</label>
      <input type="text" formControlName="nomGame" name="nomGame" class="form-control">
    </div>
    @if (myForm.controls['nomGame'].hasError('required') && myForm.controls['nomGame'].touched) {
      <span class="text-danger">Nom de Game est obligatoire</span>
    }
    @if (myForm.controls['nomGame'].hasError('minlength') && myForm.controls['nomGame'].touched) {
      <span class="text-danger">le nom de Game doit contenir au moins 5 caractères</span>
    }

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Game</label>
      <input type="number" formControlName="prixGame" name="prixGame" class="form-control">
    </div>
    @if (myForm.controls['prixGame'].hasError('required') && myForm.controls['prixGame'].touched) {
      <span class="text-danger">le prix de Game est obligatoire</span>
    }
    @if (myForm.controls['prixGame'].hasError('min') && myForm.controls['prixGame'].touched) {
      <span class="text-danger">Le prix de Game doit être supérieur ou égal à 0</span>
    }

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input type="date" formControlName="datedeSortie" name="datedeSortie" class="form-control">
    </div>
    @if (myForm.controls['datedeSortie'].hasError('required') && myForm.controls['datedeSortie'].touched) {
      <span class="text-danger">la date de création de Game est obligatoire</span>
    }

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>email :</label>
      <input type="text" formControlName="email" name="email" class="form-control">
    </div>
    @if (myForm.controls['email'].hasError('required') && myForm.controls['email'].touched) {
      <span class="text-danger">email est obligatoire</span>
    }
    @if (myForm.controls['email'].hasError('email') && myForm.controls['email'].touched) {
      <span class="text-danger">email non valide</span>
    }

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>genre</label>
      <select class="form-control form-control-lg" id="idgenre" name="idgenre" formControlName="genre">
        @for (genre of genres; track genre.idGenre) {
          <option [value]="genre.idGenre">{{ genre.nomGenre }}</option>
        }
      </select>
      @if (myForm.controls['genre'].hasError('required') && myForm.controls['genre'].touched) {
        <span class="text-danger">La genre de Game est obligatoire</span>
      }
    </div>

    <div class="mt-2">
      <button type="submit" (click)="addGame()" class="btn btn-success" [disabled]="myForm.invalid">Ajouter</button>
    </div>
  </form>
</div>