<div class="container mt-4">
  <div>
    <h2>Ajouter une Plateforme :</h2>
  </div>
  <form [formGroup]="platformForm">
    <!-- ID Platform (hidden) -->
    <div hidden>
      <label>ID Platform</label>
      <input type="text" formControlName="idPlatform" [(ngModel)]="currentPlatform.idPlatform" name="idPlatform" class="form-control">
    </div>

    <!-- Name -->
    <div class="mb-3">
      <label>Nom de la Plateforme</label>
      <input type="text" formControlName="name" [(ngModel)]="currentPlatform.name" name="name" class="form-control">
      @if (platformForm.controls['name'].hasError('required') && platformForm.controls['name'].touched) {
        <span class="text-danger">Le nom est obligatoire</span>
      }
    </div>

    <!-- Manufacturer -->
    <div class="mb-3">
      <label>Fabricant</label>
      <input type="text" formControlName="manufacturer" [(ngModel)]="currentPlatform.manufacturer" name="manufacturer" class="form-control">
      @if (platformForm.controls['manufacturer'].hasError('required') && platformForm.controls['manufacturer'].touched) {
        <span class="text-danger">Le fabricant est obligatoire</span>
      }
    </div>

    <div class="mt-2">
      <button type="submit" (click)="ajouterPlatform()" class="btn btn-primary">Ajouter</button>
    </div>
  </form>
</div>
