<div class="container">
  <h1 class="text-center">Liste des Games</h1>
  <div class="text-center mb-4 d-flex justify-content-center gap-3">
    <a class="btn btn-primary" [routerLink]="['/addGames']">Ajouter un Game</a>
    <a class="btn btn-primary" [routerLink]="['/genres']">Gestion des genre</a>
  </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>DatedeSortie</th>
            <th>Genre</th>
            <th>E-mail</th>
            <th colspan="2" *ngIf="authService.isAdmin()">Actions</th>
          </tr>
  
          @for (game of games; track game.idGame) {
            <tbody>
              <tr>
                <td>{{ game.idGame }}</td>
                <td>{{ game.nomGame }}</td>
                <td>{{ game.prixGame }}</td>
                <td>{{ game.datedeSortie | date: 'dd/MM/yyyy' }}</td>
  
                @if (game.genre) {
                  <td>{{ game.genre.nomGenre }}</td>
                } @else {
                  <td>Non défini</td>
                }
  
                <td>{{ game.email }}</td>
  
                @if (authService.isAdmin()) {
                  <td>
                    <a class="btn btn-danger" (click)="supprimerGame(game)">Supprimer</a>
                  </td>
                  <td>
                    <a class="btn btn-success" [routerLink]="['/updateGame', game.idGame]">Modifier</a>
                  </td>
                }
              </tr>
            </tbody>
          }
  
        </table>
      </div>
    </div>
  </div>
  