<div class="container">
  <h1 class="text-center">Liste des Games</h1>
  <div class="mb-4 mb-4 d-flex justify-content-left gap-3">
    <a class="btn btn-primary" [routerLink]="['/addGames']">Ajouter un Game</a>
    <a class="btn btn-primary" [routerLink]="['/genres']">Gestion des Genres</a>
    <a class="btn btn-primary" [routerLink]="['/biblio']">Library</a>
  </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>DatedeSortie</th>
            <th>Genre</th>
            <th>E-mail</th>
            <!-- <th colspan="2" *ngIf="authService.isAdmin()">Actions</th> -->
            <!-- <th *ngIf="!authService.isAdmin()">Ajouter</th> -->
            <th colspan="2" *kaHasRoles="['ADMIN']">Actions</th> 
            <th>Ajouter</th> 
          </tr>
  
          @for (game of games; track game.idGame) {
            <tbody>
              <tr>
                <td>{{ game.idGame }}</td>
                <td>{{ game.nomGame }}</td>
                <td>{{ game.prixGame }}</td>
                <td>{{ game.datedeSortie | date: 'dd/MM/yyyy' }}</td>
  
                @if (game.genre) {
                  <td>{{ game.genre.nomGenre }}</td>
                } @else {
                  <td>Non défini</td>
                }
  
                <td>{{ game.email }}</td>
  
                <ng-container *kaHasRoles="['ADMIN']">
                  <td>
                    <a class="btn btn-danger" (click)="supprimerGame(game)">Supprimer</a>
                  </td>
                  <td>
                    <a class="btn btn-success" [routerLink]="['/updateGame', game.idGame]">Modifier</a>
                  </td>
                </ng-container>

                <td>
                  <a class="btn btn-warning" (click)="addToLibrary(game)">Ajouter à la bibliothèque</a>
                </td>

              </tr>
            </tbody>
          }
  
        </table>
      </div>
    </div>
  </div>